body {
  padding: 0px;
  margin: 0px;
  background-color: #d9e7f7;
  font-family: Arial, Helvetica, serif;
}

header {
  background-color: white;
  height: auto;
  animation: 1s ease-out 0s 1 slideInFromTop;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.bsa {
  width: 100px;
  height: 40px;
  margin-left: 100px;
}
i {
  padding: 5px;
  cursor: pointer;
}

.bell {
  text-align: right;
  padding-top: 10px;
  float: right;
  color: rgb(224, 211, 211);
}

.bell:hover {
  color: darkgray;
}

.circle {
  margin-top: 5px;
  margin-right: 100px;
  margin-left: 10px;
  background: orange;
  color: #fff;
  padding: 8px;
  border-radius: 50%;
  font-size: 18px;
  width: 18px;
  height: 18px;
  text-align: center;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.circle:hover {
  background-color: darkorange;
  cursor: pointer;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.checkbox {
  display: none;
}

.checkbox:checked ~ .dropdown-content {
  display: block;
}

.name {
  color: grey;
  text-align: center;
  display: block;
  padding: 4px;
}
.name:after {
  background-color: #d6d3d3;
  top: 25px;
  content: "";
  height: 2px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  width: 120px;
}
.container {
  background-color: #d9e7f7;
  margin: 100px;
  margin-bottom: 20px;
  display: grid;

  grid-template-areas:
    "logo js php php"
    "logo js php php"
    "logo js php php"
    "logo js net events"
    "qa js net events"
    "qa js net blog"
    "qa java net blog"
    "qa java net contacts";
  grid-template-rows: repeat(8, 70px);
  grid-template-columns: repeat(4, 280px);
  justify-content: center;
}

.logo {
  background-color: white;
  grid-area: logo;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.logo svg {
  margin: 60px;
}
.logo:hover {
  transform: rotateY(180deg);
}
.title {
  display: block;
}
.content {
  display: none;
  transform: rotateY(-180deg);
}
.logo:hover .title {
  display: none;
}
.logo:hover .content {
  display: block;
}
button {
  background-color: #008cba;
  font-size: 12px;
  padding: 16px 32px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 80px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(13, 2, 119);
}

.qa {
  background-color: #70bd7f;
  grid-area: qa;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.text {
  padding: 10px;
}
.qa:hover {
  transform: rotateY(180deg);
}
.qa:hover .title {
  display: none;
}
.qa {
  padding: 0px;
}
.qa .title {
  line-height: 600%;
  text-align: center;
  font-size: 50px;
  color: white;
}
.qa:hover .content {
  width: 100%;
  height: 100%;
  display: block;
  background-color: white;
  color: black;
}

.js {
  background-color: #f1d17a;
  grid-area: js;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.js:hover {
  transform: rotateZ(180deg);
}
.js:hover .title {
  display: none;
}
.js:hover .content {
  width: 100%;
  height: 100%;
  display: block;
  background-color: white;
  color: black;
  transform: rotateZ(180deg);
}
.js {
  padding: 0px;
}
.js .title {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  text-align: right;
  color: black;
  font-size: 60px;
  font-weight: bold;
  padding-right: 5px;
}
.java {
  background-color: #d03c4f;
  grid-area: java;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.java:hover {
  transform: rotateX(180deg);
}
.java:hover .title {
  display: none;
}
.java:hover .content {
  width: 100%;
  height: 100%;
  display: block;
  background-color: white;
  color: black;
  transform: rotateX(180deg);
}
.java {
  padding: 0px;
}
.java .title {
  line-height: 400%;
  text-align: center;
  font-size: 40px;
  color: white;
  font-size: 30px;
}

.php {
  background-color: #8b94bd;
  grid-area: php;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.php:hover {
  transform: rotateY(180deg);
}
.php:hover .title {
  display: none;
}
.php:hover .content {
  width: 100%;
  height: 100%;
  display: block;
  background-color: white;
  color: black;
}
.php {
  padding: 0px;
}
.php .title {
  line-height: 300%;
  text-align: center;
  font-size: 60px;
  color: black;
  font-style: italic;
}
.net {
  background-color: #5c2274;
  grid-area: net;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.net:hover {
  transform: rotateY(180deg);
}
.net:hover .title {
  display: none;
}
.net:hover .content {
  width: 100%;
  height: 100%;
  display: block;
  background-color: white;
  color: black;
}
.net {
  padding: 0px;
}
.net .title {
  line-height: 600%;
  text-align: center;
  font-size: 60px;
  color: white;
}

.events {
  background-color: #4c9af7;
  grid-area: events;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.events:hover {
  transform: rotateY(180deg);
}
.events:hover .title {
  display: none;
}
.events:hover .content {
  width: 100%;
  height: 100%;
  display: block;
  background-color: white;
  color: black;
  overflow-y: scroll;
}
.events {
  padding: 0px;
}
.events .title {
  line-height: 600%;
  text-align: center;
  font-size: 20px;
  color: white;
}

.blog {
  background-color: #11429e;
  grid-area: blog;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.blog:hover {
  transform: rotateY(180deg);
}
.blog:hover .title {
  display: none;
}
.blog:hover .content {
  width: 100%;
  height: 100%;
  display: block;
  background-color: white;
  color: black;
}
.blog {
  padding: 0px;
}
.blog .title {
  line-height: 600%;
  text-align: center;
  font-size: 20px;
  color: white;
}

.contacts {
  background-color: #02215b;
  grid-area: contacts;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.contacts:hover {
  transform: rotateY(180deg);
}
.contacts:hover .title {
  display: none;
}
.contacts:hover .content {
  width: 100%;
  height: 100%;
  display: block;
  background-color: white;
  color: black;
  font-size: 20px;
}
.contacts {
  padding: 0px;
}
.contacts .title {
  line-height: 400%;
  text-align: center;
  font-size: 15px;
  color: white;
}

.social {
  padding: 10px;
  text-align: center;
}
.social i:hover {
  color: blue;
}

.notification {
  display: inline-block;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.info {
  background: var(--color, rgba(255, 174, 0, 0.7));
  color: white;
  border-radius: 2%;
  padding: 15px;
  margin: 10px;
}
.info.red {
  --color: rgb(255, 0, 0, 0.7);
}
.info.green {
  --color: rgba(50, 133, 2, 0.7);
}
.sign {
  display: inline-block;
  margin-right: 10px;
  font-size: 25px;
  vertical-align: middle;
}
.message {
  display: inline-block;
  font-size: 15px;
  text-align: left;
  position: left;
  vertical-align: middle;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
